<!-- footer-3 -->
<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-2">
                <a class="brand" href="#">ACA Insurance Group</a>
            </div>
            <div class="col-sm-7">
                <div class="additional-links">
                    Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>ACA Insurance Group</h6>
                <div class="address">
                    10 Strecker Ave, Suite 1090<br>Ellisville, MO 63012<br>Phone: 314-779-4722<br>Fax: 314-338-6757
                </div>
            </div>
        </div>
    </div>
    <!--
    <form class="navbar-form pull-left">
        <% if (typeof user != 'undefined') { %>
        <a id='status' class='btn btn-success' href='/logout'>Logout</a>
        <% } %>
        <% if (typeof user == 'undefined') { %>
        <a id='status' class='btn btn-success' href='/loginindex'>Agent Login</a>
        <% } %>
    </form>
    -->
</footer>