<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="well">
            <div style="padding-top: 99px; text-align: center;">
                <form class="form-horizontal" action="/profile/case" method="post">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">Employer Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="empname" id="empname" placeholder="Employer Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactName" class="col-sm-2 control-label">Contact Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="altcontactName" class="col-sm-2 control-label">Alternate Contact Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="altcontact" id="altcontact" placeholder="Alternate Contact Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="altcontactEmail" class="col-sm-2 control-label">Alternate Contact Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="altemail" id="altemail" placeholder="Alternate Contact Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="streetAddress" class="col-sm-2 control-label">Street Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="streetaddress" id="streetaddress" placeholder="Street Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="city" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State:</label>
                        <div class="col-sm-10">
                            <select name="state" id="state" class="form-control">
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                                <option value="AR">AR</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="DC">DC</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="IA">IA</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="ME">ME</option>
                                <option value="MD">MD</option>
                                <option value="MA">MA</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MS">MS</option>
                                <option value="MO">MO</option>
                                <option value="MT">MT</option>
                                <option value="NE">NE</option>
                                <option value="NV">NV</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NY">NY</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WV">WV</option>
                                <option value="WI">WI</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zipCode" class="col-sm-2 control-label">Zip Code:</label>
                        <div class="col-sm-10">
                            <input type="text" pattern="\d{5}-?(\d{4})?" class="form-control" name="zipcode" id="zipcode" placeholder="##### or #####-####">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="col-sm-2 control-label">Phone Number:</label>
                        <div class="col-sm-10">
                            <input type="tel" pattern="\d{3}-\d{3}-\d{4}" class="form-control" name="phonenumber" id="phonenumber" placeholder="###-###-####">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="col-sm-2 control-label">Employer E-mail Address:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Employer E-mail Address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="checkbox"  name="payroll" id="payroll" value="True"> Payroll Deposit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox"  name="dental" id="dental" value="True"> Dental Plan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox"  name="cashadvantage" id="cashadvantage" value="True"> Cash Advantage Plan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox"  name="vision" id="vision" value="True"> Vision Plan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comments" class="col-sm-2 control-label">Comments:</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" name="comments" id="comments" placeholder="Enter comments here!" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" value="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <% include ../partials/footer.ejs %>


<!-- Placed at the end of the document so the pages load faster -->
<script src="/common-files/js/jquery-1.10.2.min.js"></script>
<script src="/flat-ui/js/bootstrap.min.js"></script>
<script src="/common-files/js/modernizr.custom.js"></script>
<script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/common-files/js/jquery.parallax.min.js"></script>
<script src="/common-files/js/startup-kit.js"></script>
<script src="/common-files/js/jquery.backgroundvideo.min.js"></script>
<script src="/js/script.js"></script>


</body>
</html>