<form action="/confirm" method="post">
<div class="form-group">
    <label>Please enter your employer password <br></label>
    <input type="password" class="form-control" name="password" required>
</div>
</form>