<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<body>
    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container">

            <div class="page-header text-center">
                <h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Help Center</h1>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>

</body>
</html>