<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %></head>
<body>
    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container">

            <div class="page-header text-center">
                <h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Help Center</h1>
            </div>
            <div class="row">
                <ul>
                    <a href="">
                        <li>Agent Account Creation</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Logging Into the System</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Case/Client Account Creation</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Sending a Unique Web-link to a Client</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Calendar Management</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Employee Application Retrieval</li>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <li>Using Employee Search</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>

</body>
</html>