<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>

    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../img/7815141.jpg" alt="" style="padding-top:60px;">
                    </div>
                    <div class="col-sm-6">
                        <h1>A better way to control your healthcare costs.</h1>
                        <p>The HAP plan uses a combination of core health insurance, education, and supplemental coverage to create a turn-key solution that will <u>drive down the cost</u> of premiums for employers and give employees more <u>needed</u> benefits.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Plan Features</h1>
                        <p>
                            <ul>
                                <li>Average $200 in savings per month per employee</li>
                                <li>Low fixed individual cost to employer</li>
                                <li>No annual increases for the employer</li>
                                <li>Pre-tax option to offset employer contribution</li>
                                <li>Individually Personalized Health Insurance</li>
                                <li>National and Regional provider networks</li>
                                <li>$5000 payable upon cancer diagnosis</li>
                                <li>$1000/Day Hospital Confinement benefit for up to 30 days</li>
                                <li>Up to $10,000 critical illness benefit</li>
                                <li>One-on-One Benefits communication & education</li>
                                <li>Full Service Payroll Administration</li>
                                <li>One Monthly Bill!</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="../../img/463389.png" alt="" style="padding-top:60px;">
                        <p>
                            <center>
                                <small>Monthly and annual employer savings.</small>
                            </center>
                        </p>
                        <p>
                            <center>
                                <em>A small business having a profit margin of 32% with 20 employees on the HAP plan would be the equivalent of $101,250 in sales annually.</em>
                            </center>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Retain capital while retaining your employees.</h1>
                        <p>With constant change in health care it is hard for small business owners to keep up. The <strong>HAP</strong> produces a <strong>hands-off</strong> approach for small business owners and puts all the questions and concerns of the employees in our hands. We are here to get you “out of the insurance business” and give you more needed time to grow your business and overall, increase <strong>profitability.</strong></p>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </section>
    </div>
    <div><div id="968244701478285836" align="center" style="width: 100%; overflow-y: hidden; margin-bottom: 10px;" class="wcustomhtml"><script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/shortBookingPage/52b3edf9-5324-4ef0-bcae-4e25f31281ff"><img border="none" src="https://my.setmore.com/images/bookappt/SetMore-book-button.png" alt="Book an appointment with ACA Insurance Group using SetMore" /></a>
        </div>


        <% include ../partials/footer.ejs %>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </body>
</html>
