<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <div class="page-wrapper-index">
        <% include ../partials/nav.ejs %>
        <section class="header-10-sub v-center">
            <div class="background">
                &nbsp;
            </div>
            <div>
                <div class="container">
                    <div class="hero-unit">
                        <h1>Your path to peace of mind.</h1>
                        <p>
                            Our proven benefit packages can help you
                            <br/>
                            through today's benefit twists and turns...
                        </p>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

        <!-- content-7  -->
        <section class="content-7 v-center">
            <div>

                <div class="container">
                    <h3>We are not your normal brokerage.</h3>

                    <div class="row v-center">
                        <div class="col-sm-3">
                            <div>
                                ACA takes the time to find the best and most affordable packages for your business.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-offset-1">
                                <div class="screen-wrapper">
                                    <img src="../../common-files/img/content/offer.jpg" alt="">
                                    <!--
                                    <div class="screen">
                                        <img src="../../common-files/img/content/offer.jpg" alt="">
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-offset-2">
                                <h6>Save Time</h6>
                                Our goal is to save you one of the most valuable resources, time. We take the benefit management process out of your hands and let you get back to building your business.
                                <h6>Provide Solutions</h6>
                                With our turn-key solutions we put much needed capital back in the hands of the small business owner and their employees.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content-23  -->
        <!--
        <section class="content-23 bg-midnight-blue custom-bg">
            <div class="holder v-center">
                <div>
                    <div class="container">
                        <div class="hero-unit hero-unit-bordered">
                            <h1>Let us be your Affordable Care Associates</h1>
                        </div>
                    </div>
                </div>
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>
        -->

        <!-- content-8  -->
        <!--
        <section class="content-8 v-center">
            <div>
                <div class="container">
                    <div class="img">
                        <img src="../../common-files/img/content/offer.jpg" alt="">
                    </div>
                    <h3>Take a look at what we have to offer</h3>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p>We provide a wide array of solutions
                            </p>
                            <a class="btn btn-large btn-clear" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->

        <!-- content-23  -->
        <section class="content-23 bg-midnight-blue">
            <div id="bgVideo" class="background"></div>
            <div class="holder v-center">
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>Find the perfect plans for
                            <br class="hidden-phone">
                            your insurance needs</h1>
                        </div>
                    </div>
                </div>   
            </div>
            <a class="control-btn fui-arrow-down" href="#"> </a>
        </section>

        <!-- content-8  -->
        <section class="content-8 v-center">
            <div>
                <div class="container">
                    <div class="img second">
                        <img alt="" src="img/aca380x187.png"/>
                    </div>
                    <h3>Learn more about our programs</h3>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p>
                                We put big company benefits in place that were not offered before.
                            </p>
                            <a class="btn btn-large btn-clear" href="#">Learn More Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include ../partials/footer.ejs %>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/common-files/js/jquery-1.10.2.min.js"></script>
    <script src="/flat-ui/js/bootstrap.min.js"></script>
    <script src="/common-files/js/modernizr.custom.js"></script>
    <script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/common-files/js/jquery.parallax.min.js"></script>
    <script src="/common-files/js/startup-kit.js"></script>
    <script src="/common-files/js/jquery.backgroundvideo.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>
