<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container">

            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Agent Authentication</h1>

                <p>Login or Register with:</p>

                <a href="/agentLogin" class="btn btn-default"><span class="fa fa-user"></span> Agent Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Agent Signup</a>
            </div>

        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>