<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>

    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>The Small Business Insurance Market has changed.</h1>
                        <p>The new PPACA laws allow us to offer new innovative ways for small business to support their employees and control cost for themselves. We offer several turn-key solutions for you unique situation.</p>
                    </div>
                    <div class="col-sm-5">
                        <img src="../../img/1427838952.jpg" alt="" style="padding-top:60px;">
                    </div>
                </div>
            </div>
        </section>
        <section style="padding-top:60px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../../img/1427839095.png" alt="" style="padding-top:60px;">
                    </div>
                    <div class="col-sm-8">
                        <h3>Defined Contribution (Tax Free) Health Insurance</h3>
                        <p>For small businesses that would like to start new coverage or stop purchasing health insurance but still contribute towards employees health coverage as a benefit of their employment the concept of a Section 105 Defined Contribution plan offers many benefits to both your business and your employees. As a result of the Affordable Care Act’s law that, as of January 1st, 2014, requires insurers to offer coverage without health questions and to cover pre-existing conditions, individual and family coverage is more freely available to your employees and the broader availability of coverage, combined with a proper Section 105 Defined Benefit Plan, can help your business and its bottom line as well as our employees and their budgets. In many cases it’s a ‘win–win’ for your business and employees.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <img src="../../img/1443063.png" alt="" style="padding-top:60px;">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include ../partials/footer.ejs %>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </body>
</html>
