<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <style>
        .container{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        object{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div class="page-wrapper">
    <% include ../partials/nav.ejs %>
    <div class="container">
        <object data=http://acainsuresme.com/small-business.html> <embed src=http://acainsuresme.com/small-business.html> </embed> Error: Embedded data could not be displayed. <a href="http://polar-wave-6105.herokuapp.com/smallbusiness"> Click here to fix the issue</a> </object>
    </div>
</div>
<% include ../partials/footer.ejs %>

<!-- Placed at the end of the document so the pages load faster -->
<script>
    function switchToHttp()
    {
        if (window.location.protocol == "https:")
            window.location.href = "http:" + window.location.href.substring(window.location.protocol.length);
    }
    window.onload = switchToHttp;
</script>
<script src="/common-files/js/jquery-1.10.2.min.js"></script>
<script src="/flat-ui/js/bootstrap.min.js"></script>
<script src="/common-files/js/modernizr.custom.js"></script>
<script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/common-files/js/jquery.parallax.min.js"></script>
<script src="/common-files/js/startup-kit.js"></script>
<script src="/common-files/js/jquery.backgroundvideo.min.js"></script>
<script src="/js/script.js"></script>


</body>
</html>
